---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Well เพื่อนรักษาใจ">
  <main
    style="
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 250px),
      url('/images/bg.svg') no-repeat top;
      background-size: cover;
    "
    class="flex flex-col items-center"
  >
    <img src="/images/slogan.svg" alt="Well Slogan" class="w-80 h-52 mt-52" />

    <h1 class="text-4xl md:text-6xl font-bold text-btn-primary mt-16">
      พบกันเร็วๆ นี้
    </h1>

    <img
      src="/images/coming-soon.svg"
      alt="Coming Soon"
      class="absolute bottom-0"
    />
  </main>
</Layout>
